#define WIFI_SSID     "pretty_fly_for_a_wifi"
#define WIFI_PASSWORD ""

#define MQTT_SERVER   "test.mosquitto.org"
#define MQTT_USERNAME "someuser"
#define MQTT_PASSWORD "somepassword"

#define MQTT_IR_TOPIC    "ir/" MQTT_CLIENTID "/send"
#define MQTT_TEMP_TOPIC    "ir/" MQTT_CLIENTID "/temperature"
#define MQTT_RH_TOPIC    "ir/" MQTT_CLIENTID "/humidity"
